.xh-success-tag {
  background: rgba(33, 194, 114, 0.11);
  font-weight: 500;
  color: #21C272;
  border-radius: 4px;
  display: inline-block;
  padding: .5rem;
}

.xh-danger-tag {
  background: rgba(230, 0, 0, 0.11);
  font-weight: 500;
  color: #E60000;
  border-radius: 4px;
  display: inline-block;
  padding: .5rem;
}
