.xh-success-tag {
  background: rgba(33, 194, 114, 0.11);
  font-weight: 500;
  color: #21C272;
  border-radius: 4px;
  display: inline-block;
  padding: .5rem;
}

.xh-danger-tag {
  background: rgba(230, 0, 0, 0.11);
  font-weight: 500;
  color: #E60000;
  border-radius: 4px;
  display: inline-block;
  padding: .5rem;
}

#xh-nav {
  .van-nav-bar__title {
    color: #333333;
    font-size: 1.8rem;
  }
}

.card-icon {
  color: rgb(196, 37, 42);
  text-align: right;
  float: right;
}

.xh-submit-box {
  margin-top: 45px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  padding: 0 1rem;

  .xh-btn {
    background-color: #C4252A;
    color: white;
    border-radius: 8px;
    flex: 1;
  }
}

.xh-table-border {
  position: relative;
}

.xh-table-border:not(:last-child)::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  right: 0;
  bottom: 0;
  left: 1.33333rem;
  border-bottom: 0.08333rem solid #ebedf0;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
}
